## PYTHON PROGRAMMING REVIEW

In [10]:
import random
import sys
import os

In [11]:
print("Hello world")

Hello world

#### VARIABLES

Has to start with a letter and can contain strings (series of whatever in between single or double quotes), numbers and underscores.

7 different algorithmic operations:  +  -  *  /  %  **  //

%: returns remainder of a division

//: division with default approximation

Order matters like it normally does in math (braces and between operations).

### DATATYPES

5 many datatypes in Python: numbers, strings, lists, tuples and dictionaries.

#### STRINGS
declared through single or double quotes. Can contain any character.

Strings are immutable.

Strings can be concatenated

do you want to verify:
all numbers? .isalnum()
all letters?.isalpha()
white spaces? .strip

trasforming it into a list? .split(" ")

.find("string") --> sensitive!

.capitalize() --> first letter becomes upper case

.replace("all string ", " new string")

In [12]:
# newlines
print('\n'*5, "hi")
print("I don't like ", end="")
print("chocolate")

 hi
I don't like chocolate

In [30]:
lstring = "my cat is swimming"
print(lstring[:-1])
print(lstring[-3:])
print(lstring.isalpha())
print(lstring.isalnum())
print(lstring.strip())
print(lstring.split(" "))
print(lstring.capitalize())
print(lstring.find("cat"))

my cat is swimmin
ing
False
False
my cat is swimming
['my', 'cat', 'is', 'swimming']
My cat is swimming
3

#### LISTS (built-in data types)
 declared through square brackets. Can contain any data type (other list too).

 Changeable

 indexing to retrieve, append() and remove() elements --> no need of index

 insert() and del need index specification before any data type, separated by a comma

 can be sorted and reversed (only with same datatypes)
 
 len, max, min to explore range and size of the list

In [13]:
groceries=["banana", "apple"]
activities=["study", "training"]
todolist=[groceries, activities]
print(todolist)
todolist[1][1]= "calistenichs"
print (todolist)
print (todolist[0][1])
todolist.append("sleep")
print(todolist)
todolist.remove("sleep")
print(todolist)
todolist.insert([0][0], "sleep")
print(todolist)
todolist.remove("sleep")
print(todolist)
todolist.sort()
todolist.reverse()
print(todolist)
del todolist[1][0]
print(todolist)
print(len(todolist))
print(max(todolist))
print(min(todolist))

[['banana', 'apple'], ['study', 'training']]
[['banana', 'apple'], ['study', 'calistenichs']]
apple
[['banana', 'apple'], ['study', 'calistenichs'], 'sleep']
[['banana', 'apple'], ['study', 'calistenichs']]
['sleep', ['banana', 'apple'], ['study', 'calistenichs']]
[['banana', 'apple'], ['study', 'calistenichs']]
[['study', 'calistenichs'], ['banana', 'apple']]
[['study', 'calistenichs'], ['apple']]
2
['study', 'calistenichs']
['apple']

#### TUPLES (built-in data type)

declared by (), behave like lists

not changeable (you can, changing it in a list and then coming back)

len() min() max() works as before

list(): convert strings, sets and tuples to list

In [14]:
pi_tuple=(1,2)
new_tuple = list(pi_tuple)
print(new_tuple)
tuple_1=tuple(new_tuple)
print(tuple_1)

[1, 2]
(1, 2)

#### DICTIONARIES (or maps) (built-in data type)

 Behave list list with the difference that cannot be concatenated
 
 declared with {} --> {"key": "value, etc.."} 
 
 del dict["key"]
 
 len(dict)
 
 to retrieve a key we can use .get() --> dict.get("key")

In [15]:
phones={"me":"123",
        "him":"987"}
print(phones)
phones.get("me")
del phones["him"]
print(phones)
print(len(phones))

{'me': '123', 'him': '987'}
{'me': '123'}
1

#### SETS (bulit-in data type)

used to store multiple elements in a single variable

unordered, unindexed, unchangeable (can't change elements but possible to add and remove)

declared with {}

In [16]:
groceries={"apple", "banana"}
print(groceries)

{'apple', 'banana'}

### CONDITIONALS 

If, else, elif  ==  !=  >=  <=  >  <

and   or   not (logical operators)

once a condition is met, no other conditions are checked, it just stops.

In [17]:
age=10

if age>=18:
    print("you can drive")
elif not(age==10): #if this condition is verified, the not output the opposite message so the else one
    print ("you can drive")
else:
    print ("you cannot drive")

you cannot drive

### LOOPING

for loops

while looping when you don't know your range of looping

In [18]:
print("\n")
groceries=[["apple", "banana"], ["cherry", "water"]]
for x in range(0,2):
    for y in range(0,2):
        print(groceries[x][y])

apple
banana
cherry
water

In [19]:
i=2
while( i <= 10):
    if(i%2 == 0):
        print (i)
    elif(i == 5):
        break
    else:
        i += 1
        continue
    i += 1

2
4

### FUNCTIONS

internal functions not callable outside

must be defined before using them

In [24]:
def Addnumber(num1, num2):
    sum = num1 + num2
    print(sum)

Addnumber(2,4)

6

### FILE I/0

open("name of the file", "wb" or "ab+")

wb: write

ab+: read and append

r+: read and writing

.write(bytes("blabla", 'UTF-8')

.close

os.remove("name of the file")

In [39]:
file = open("doc.txt", "wb")
file.write(bytes("blabla", 'UTF-8'))
file.close()
file = open("doc.txt", "r+")
print(file.read())
os.remove("doc.txt")

blabla

### OBJECT ORIENTED PROGRAMMING

The object orientation paradigm allows us to model the world in classes where the abilities are functions and the attributes: simple variables. 

The constructor is there to initialize an object of the class --> def __init__(self, ...):

In [2]:
class animal:
    __name = None
    __height = 0

    def __init__(self, name, height):
        self.__name = name
        self.__height = height

    def setname(self, name):
        self.__name = name

    def setheight(self, height):
        self.__height = height

    def tostring(self):
        return "{} is tall {} cm.".format(self.__name,
                                         self.__height)

cat = animal("black", 40)

print(cat.tostring())

black is tall 40 cm.