In [1]:
a=1
b=3

c=a**b
print(c)

1

In [2]:
print(2*"hello " + 3*"world ")

hello hello world world world

In [3]:
print(int(3.4))

3

In [11]:
print(float(3.45))

3.45

In [12]:
print(str(3.4))

3.4

In [13]:
weeklyseconds= 60*60*24*7
print(weeklyseconds)

604800

In [14]:
z=0
d=0
c=z/d

ZeroDivisionError: division by zero

In [ ]:
round(7.5)
# funzione round() arrotonta i numeri pari per difetto mentre i dispari per eccesso

8

## VARIABLES

In [ ]:
a=int(input("select the n° of hours for the sound of the clock: "))

b = (14+a)%24
print(b)

select the n° of hours for the sound of the clock: 565
3

In [ ]:
#esercizio nome variabili
#classification = 1 va bene
#Classification = 1 va bene MA solo lettere minuscole
#cl@ssification = 1 ILLEGALE, solo lettere, underscores e cifre
#class1f1cat10n = 1 va bene
#1classification = 1 ILLEGALE, si inizia solo con lettere e underscores
#_classification = 1 va bene MA meglio iniziare con lettere
#class = 1 ILLEGALE, class è il nome di una funzione!
#Class = 1 va bene MA lettera maiuscola no!

In [ ]:
#esercizio errore debugging
nr1 = 5
nr2 = 4
nr3 = 5
print( nr3 / (nr1 % nr2) )
nr1 = nr1 + 1
print( nr3 / (nr1 % nr2) )
nr1 = nr1 + 1
print( nr3 / (nr1 % nr2) )
nr1 = nr1 + 1
print(nr1, nr2, nr3)
print(nr1 % nr2)
#print( nr3 / (nr1 % nr2) ) qui errore perché il denominatore è = 0

5.0
2.5
1.6666666666666667
8 4 5
0

In [ ]:
type("1.6")

str

In [ ]:
a=1
b=4
c = "1"
d = "4"
print( a + c ) #non posso concatenare una str e un numero int o float che sia

TypeError: ignored

In [ ]:
a: int = "1"
b: str = 4
print( type(a), type(b) ) #c'è la possibilità di annotare il tipo ma per l'interprete sono solo annotazione, no hard typing come in C

<class 'str'> <class 'int'>

In [ ]:
number_of_bananas = 100
number_of_bananas += 12
number_of_bananas -= 13
number_of_bananas *= 19
number_of_bananas /= number_of_bananas
print( number_of_bananas )

1.0

Exercise 4.2 Write code that can compute the surface of circle,
using the variables radius and pi = 3.14159. The formula,
in case you do not know, is radius times radius times pi.
Print the outcome of your program as follows: “The surface area of a circle with radius ... is ..."

In [ ]:
radius = 5
pi = 3.14159
surface_circle = radius * radius * pi
print("The surface area of a circle with radius", radius," is ",surface_circle)

The surface area of a circle with radius 5  is  78.53975

Exercise 4.3 Write code that classifies a given amount of money (which you store in a variable named amount), specified in cents, as greater monetary units. Your code lists the monetary equivalent in dollars (100 ct), quarters (25 ct), dimes (10 ct), nickels (5 ct), and pennies (1 ct). Your program should report the maximum number of dollars that fit in the amount, then the maximum number of quarters that fit in the remainder after you subtract the dollars, then the maximum number of dimes that fit in the remainder after you subtract the dollars and quarters, and so on for nickels and pennies. The result is that you express the amount as the minimum number of coins needed.

In [ ]:
money_in_cents = 245
dollars = money_in_cents//100
rest_dollars = money_in_cents%100
quarters = rest_dollars//25
rest_quarters = rest_dollars%25
dimes = rest_quarters//10
rest_dimes = rest_quarters%10
nickels = rest_dimes//5
rest_nickels = rest_dimes%5
pennies = rest_nickels

print('dollars: ',dollars,'quarters: ',quarters,'dimes: ',dimes,'nickels: ',nickels,'pennies: ',pennies)

dollars:  2 quarters:  1 dimes:  2 nickels:  0 pennies:  0

## SIMPLE FUNCTIONS

In [ ]:
print(10 * int(100.000000))

1000

In [ ]:
pow(2,4,10)

6

the third parameter returns the modulo: il resto after la divisione con il parametro scelto.
Se il paramentro è maggiore, il modulo è il dividendo stesso
se è minore, modulo è il resto della divisione.

In [ ]:
x = -2
y=3
z = 1.27
print( abs( x ) )
print( max( x, y, z ) )
print( min( x, y, z ) )
print( pow( x, y ) )
print( round( z, 1 ) )

2
3
-2
-8
1.3

In [ ]:
print( len( 'can' ) )
print( len('cannot'))
print( len( "" ) ) # "" is an empty string

3
6
0

In [ ]:
print( len( 'can\'t' ) )

5

\ si può usare come escamotage per le virgolette!


**Exercise** Write some code that asks the user for two numbers, then shows the result when you add them, and when you multiply them.

In [ ]:
number1= int(input("type the 1° number: "))
number2= int(input("type the 2° number: "))
print(number1+number2)
print(number1*number2)

type the 1° number: 2
type the 2° number: 5
7
10

In [ ]:
print( "X", "X", "X", sep="x" )
print( "X", end="" )
print( "Y", end="" )
print( "Z" )

XxXxX
XYZ

sep e end sono parametri utili!

In [ ]:
print( "The first 3 numbers are {}, {} and {}.".format( "one", "two", "three" ) )

The first 3 numbers are one, two and three.

In [ ]:
print( "The first 3 numbers are {:>7}, {:^7} and {:<7}.".format( "one", "two", "three" ) )

The first 3 numbers are     one,   two   and three  .

In [ ]:
print( "The first 3 numbers are {:2}, {:4} and {:4}.".format( "one", "two", "three" ) )

The first 3 numbers are one, two  and three.

In [ ]:
from math import exp , log
print( "The value of e is approximately", exp( 1 ) )
e_sqr = exp( 2 )
print( "e squared is", e_sqr )
print( "which means that log(", e_sqr, ") is", log( e_sqr ) )

The value of e is approximately 2.718281828459045
e squared is 7.38905609893065
which means that log( 7.38905609893065 ) is 2.0

In [ ]:
from random import random , randint , seed
seed( )
print( "A random number between 1 and 10 is", randint( 1, 10 ) )
print( "Another is", randint( 1, 10 ) )
seed( 0 )
print( "3 random numbers are:", random(), random(), random() )
seed(0)
print( "The same 3 numbers are:", random(), random(), random() )

A random number between 1 and 10 is 3
Another is 6
3 random numbers are: 0.8444218515250481 0.7579544029403025 0.420571580830845
The same 3 numbers are: 0.8444218515250481 0.7579544029403025 0.420571580830845

**Exercise** Ask the user to supply a string. Then use that string as a prompt to ask for a float.

In [ ]:
prompt=str(input("enter a string that asks for a float: "))
float(input( prompt ))

enter a string that asks for a float: enter a float
enter a float5.6

5.6

**Exercise 5.2** The Pythagorean theorem states that of a right triangle, the square of the length of the diagonal side is equal to the sum of the squares of the lengths of the other two sides (or a2 + b2 = c2). Write a program that asks the user for the lengths of the two sides that meet at a right angle, then calculate the length of the third side (in other words: take the square root of the sum of the squares of the two sides that you asked for), and display it in a nicely formatted way. You may ignore the fact that the user can enter negative or zero lengths for the sides.

In [ ]:
import math
cateto_maggiore=float(input("enter cateto_maggiore lenth: "))
cateto_minore=float(input("enter cateto_minore lenth: "))
print("the lenth of the ipotenusa is: ", math.sqrt((cateto_maggiore**2)+(cateto_minore**2)))

enter cateto_maggiore lenth: 4
enter cateto_minore lenth: 3
the lenth of the ipotenusa is:  5.0

**Exercise 5.3** Ask the user to enter three numbers. Then print the largest, the smallest, and their average, rounded to 2 decimals.

In [ ]:
number_1=float(input("enter the 1°number: "))
number_2=float(input("enter the 2°number: "))
number_3=float(input("enter the 3°number: "))
print("the max is: ",max(number_1,number_2,number_3))
print("the min is: ",min(number_1,number_2,number_3))
print("the average is: ",(number_1+number_2+number_3)/3)

enter the 1°number: 2
enter the 2°number: 3
enter the 3°number: 4
the max is:  4.0
the min is:  2.0
the average is:  3.0

**Exercise 5.4** Calculate the value of e to the power of -1, 0, 1, 2, and 3, and *display* the results, with 5 decimals, in a nicely formatted manner.

In [ ]:
import math
a= "e to the power of {:.5f} is {:.5f}"
print(a.format(-1, math.exp(-1)))
print(a.format(0, math.exp(0)))
print(a.format(1, math.exp(1)))
print(a.format(2, math.exp(2)))
print(a.format(3, math.exp(3)))

e to the power of -1.00000 is 0.36788
e to the power of 0.00000 is 1.00000
e to the power of 1.00000 is 2.71828
e to the power of 2.00000 is 7.38906
e to the power of 3.00000 is 20.08554

In [ ]:
import math
math.e

2.718281828459045


**Exercise 5.5** Suppose you want to generate a random integer between 1 and 10 (1 and 10 both included), but from the random module you only have the random() function available (you can use functions from other modules, though). How do you do that?

In [ ]:
from random import random
print(random()*10)

7.837985890347726

## CONDITIONS

In [ ]:
print( "1.", 2 < 5 )
print( "2.", 2 <= 5 )
print( "3.", 3 > 3 )
print( "4.", 3 >= 3 )
print( "5.", 3 == 3.0)
print( "10.", "Python" != "rubbish" )
print( "11.", "Python" > "Perl" )
print( "12.", "banana" < "orange" )
print( "13.", "banana" < "Orange" )

1. True
2. True
3. False
4. True
5. True
10. True
11. True
12. True
13. False

In [ ]:
greater = 5 > 2
print( greater )
greater = 5 < 2
print( greater )
print( type( greater ) )

True
False
<class 'bool'>

**Exercise** Write some code that allows you to test if 1/2 is greater than, equal to, or less than 0.5. Do the same for 1/3 and 0.33. Then do the same for (1/3) ∗ 3 and 1.

In [ ]:
a= 1/2==0.5
print(a)

True

In [ ]:
print( "y" in "Python" )
print( "x" in "Python" )
print( "p" in "Python" ) #python è sensitive to maiuscole e minuscole!
print( "th" in "Python" )
print( "to" in "Python" )
print( "y" not in "Python" )

True
False
False
True
False
False

**Exercise** For the code below, give values True or False to each of the variables a, b, and c, so that the two expressions evaluate to different values.

In [ ]:
a =  False
b =  False
c =  True
print( (a and b) or c )
print( a and (b or c) )

True
False

In [ ]:
x=9
if x < 10:
    print( "This line is only executed if x < 10." )   
    print( "And the same holds for this line." )
print( "This line, however, is always executed." )

This line is only executed if x < 10.
And the same holds for this line.
This line, however, is always executed.

**Exercise** The following code contains multiple indentation errors. Fix them all.

In [ ]:

# This code contains indentation errors!
x=3
y=4
if x == 3 and y == 4:
    print( "x is 3" ) 
    print( "y is 4" )
if x > 2 and y < 5: 
    print( "x > 2" ) 
    print( "y < 5" )
if x < 4 and y > 3:
    print( "x < 4" ) 
    print( "y > 3" )

x is 3
y is 4
x > 2
y < 5
x < 4
y > 3


**Exercise** You can test whether an integer is odd or even using the modulo operator. Specifically, when x%2 equals zero, then x is even, else it is odd. Write some code that asks for an integer and then reports whether it is even or odd (you can use the getInteger() function from pcinput to ask for an integer).

In [ ]:
a=int(input("insert an integer of your interest: "))
if a%2 == 0:
    print("the number",a,"is even.")
else:
    print("the number",a,"is odd")

the number 4 is even.


**Exercise** Write a program that defines a variable weight. If weight is greater than 20 (kilo’s), print: “There is a $25 surcharge for luggage that is too heavy.” If weight is smaller than 20, print: “Have a safe flight!” If weight is exactly 20, print: “Pfew! The weight is just right!” Make sure that you change the value of weight a couple of times to check whether your code works.

In [ ]:
w=int(input("insert the weight: "))
if w>20:
    print("There is a $25 surcharge for luggage that is too heavy.")
elif w==20:
    print("Pfew! The weight is just right!")
else:
    print("Have a safe flight!")

Pfew! The weight is just right!


**Exercise 6.1** Grades are values between zero and 10 (both zero and 10 included), and are always rounded to the nearest half point. To translate grades to the American style, 8.5 to 10 become an “A,” 7.5 and 8 become a “B,” 6.5 and 7 become a “C,” 5.5 and 6 become a “D,” and other grades become an “F.” Implement this translation, whereby you ask the user for a grade, and then give the American translation. If the user enters a grade lower than zero or higher than 10, just give an error message. You do not need to handle the user entering grades that do not end in .0 or .5, though you may do that if you like – in that case, if the user enters such an illegal grade, give an appropriate error message.

In [ ]:
g=float(input("enter the italian grade to convert: "))
match g:
    case g if 10 >= g >= 8.5:
        print("your grade is A")
    case g if g==7.5 or g==8:
        print("your grade is B")
    case g if g==6.5 or g==7:
        print("your grade is C")
    case g if g==5.5 or g==6:
        print("your grade is D")
    case _:
        print("your grade is F")

your grade is B

**Exercise 6.3** Ask the user to supply a string. Print how many different vowels there are in the string. The capital version of a lower case vowel is considered to be the same vowel. y is not considered a vowel. Try to print nice output (e.g., printing “There are 1 different vowels in the string” is ugly). Example: When the user enters the string “It’s Owl Stretching Time,” the program should say that there are 3 different vowels in the string.

In [ ]:
phrase=str(input("insert a phrase of 1 or more words: "))
if "a" or "e" or "i" or "o" or "u" in phrase:
    print("in the phrase: ",phrase,)
    print("there are",phrase.count("a"),"- a")
    print("there are",phrase.count("e"),"- e")
    print("there are",phrase.count("i"),"- i")
    print("there are",phrase.count("o"),"- o")
    print("there are",phrase.count("u"),"- u")

in the phrase:  ciao sono emad
there are 2 - a
there are 1 - e
there are 1 - i
there are 3 - o
there are 0 - u

**Exercise 6.4** You can solve quadratic equations using the quadratic formula. Quadratic equations are of the form Ax2 + Bx + C = 0. Such equations have zero, one or two solutions. The first solution is (−B + sqrt(B2 − 4AC))/(2A). The second solution is (−B − sqrt(B2 − 4AC))/(2A). There are no solutions if the value under the square root is negative. There is one solution if the value under the square root is zero. Write a pro- gram that asks the user for the values of A, B, and C, then reports whether there are zero, one, or two solutions, then prints those solutions. Note: Make sure that you also take into account the case that A is zero (there is only one solution then, namely −C/B), and the case that both A and B are zero.
Hint: To determine whether there are zero, one, or two solutions, first calculate B ∗ B − 4 ∗ A ∗ C. If that is less than zero, there are no solutions (as you cannot take the square root of a negative number). If it is zero, there is only one solution (namely −B/(2 ∗ A), as the part with the square root is zero). Otherwise, there are two solutions, as listed.

## ITERATIONS


**Exercise** Change the code above so that it prints the numbers 1, 3, 5, 7, and 9

In [ ]:
'''num = 1
while num <= 5:
print( num )
num += 1 print( "Done" )'''

num = 1
while num <= 10:
    print( num )
    num += 2
print("done")

1
3
5
7
9
done

**Exercise** Change the code block above so that it not only prints the total, but also the
average of the five numbers.

In [ ]:
'''total = 0
count = 0
while count < 5:
    total += int(input( "Please give a number: " ))
    count += 1
print( "Total is", total )'''

total=0
count=0
while count <5:
    total+= int(input("please give a nu,ber: "))
    count+=1
print("the total is: ", total)
average=total/count
print("the average is: ", average)

the total is:  15
the average is:  3.0

**Exercise** Create a loop that lets the user enter some numbers until he enters zero, and then prints their total and their average. Make sure you test the loop with no numbers entered, and with several copies of the same number entered.

In [ ]:
num=int(input("insert a num: "))
total=0
count=0
while num!=0:
    total+=num
    count+=1
    num=int(input("insert a num: "))
print("the tot is: ", total)
average = total/count
print("the average is: ", average)

the tot is:  6
the average is:  2.0

**Exercise** Fix the code above so that it no longer is an endless loop

In [ ]:
number = 1
total = 0
while (number * number) % 10 != 0:
    number+=4.5
total = number
print( "Total is", total )

Total is 10.0

**Exercise** Write countdown code. It starts with a given number (e.g., 10), and counts down to zero, printing each number it encounters (10, 9, 8, ...). It does not print 0, instead it prints “Blast off!”

In [ ]:
countdown=10
print(countdown)
while countdown!=1:
    countdown-=1
    print(countdown)
print("BLAST OFF")

10
9
8
7
6
5
4
3
2
1
BLAST OFF

**Exercise** Use the for loop and range() function to print multiples of 3, starting at 21, counting down to 3, in just two lines of code.

In [ ]:
for x in range(21,2,-3):
    print(x)

21
18
15
12
9
6
3

In [ ]:
for x in ("apple", "pear", "orange", "banana", "mango", "cherry"): 
    print( x )
# no singola lettera

apple
pear
orange
banana
mango
cherry

**Exercise** You already created code with a while loop that asked the user for five numbers, and displayed their total. Create code for this task, but now use a for loop.

In [ ]:
total=0
for x in range(5):
    number=int(input("insert a n: "))
    total+=number
print("the tot is ",total)

the tot is  11

**Exercise** Create a countdown function that starts at a certain count, and counts down to
zero. Instead of zero, print “Blast off!” Use a for loop.

In [ ]:
for x in range(10,0,-1):
    print(x)
print("BLAST OFF")

10
9
8
7
6
5
4
3
2
1
BLAST OFF

In [6]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for n, d in house:
    print('the', str(n), 'is', str(d),'sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

**Exercise** Write a program that processes a collection of numbers using a for loop. The program should end immediately, printing only the word “Done,” when a zero is encoun- tered (use a break for this). Negative numbers should be ignored (use a continue for this; I know you can also do this with a condition, but I want you to practice with continue). If no zero is encountered, the program should display the sum of all numbers (do this in an else clause). Always display “Done” at the end of the program. Test your program with the collection ( 12, 4, 3, 33, -2, -5, 7, 0, 22, 4 ). With these numbers, the program should display only “Done.” If you remove the zero, it should display 85 (and “Done”).

In [ ]:
numbers = (12, 4, 3, 33, -2, -5, 7, 22, 4)
sumofnumbers = 0
for x in numbers:
    if x < 0:
        continue 
    if x == 0:
        print("done")
        break
    
    sumofnumbers += x
    
else:
    print("the tot is: ",sumofnumbers)
    
print("done")

the tot is:  85
done

In [1]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for x,y in europe.items():
    print('the capital of', x, 'is', y)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

**Exercise** Write code that prints all pairs (i,j) where i and j can take on the values 0 to 3, but they cannot be equal.

In [ ]:
for i in range(0,3):
    for j in range(i+1,3):
        print("({},{})".format(i,j))

(0,1)
(0,2)
(1,2)

**Exercise** The user must enter a positive integer. You use the getInteger() function from pcinput for that. This function also allows entering negative numbers. If the user enters a negative number, you want to print a message and ask him again, until he entered a positive number. Once a positive number is entered, you print that number and the program ends. Such a problem is typically solved using a loop-and-a-half, as you cannot predict how often the user will enter a negative number before he gets wise. Write such a loop-and-a-half (you will need exactly one break, and you need at most one continue). Print the final number that the user entered after you have exited the loop. The reason to do it afterwards is that the loop is just there to control the entering of the input, not the processing of the resulting variable.

In [ ]:

while True:
    a=int(input("enter a number: "))
    if a < 0:
        print("enter a positive number: ")
        continue
    if a >0:
        print(a)
        break

enter a positive number:
enter a positive number:
enter a positive number:
3

**Exercise 7.1** Write a program that lets the user enter a number. Then the program dis- plays the multiplication table for that number from 1 to 10. E.g., when the user enters 12, the first line printed is “1 * 12 = 12” and the last line printed is “10 * 12 = 120”.

In [ ]:
prompt=int(input("enter a number: "))
for i in range(1,11):
    print(prompt,"*",i,"=",prompt*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

**Exercise 7.3** Write a program that asks the user for ten numbers, and then prints the largest, the smallest, and how many are divisible by 3. Use the algorithm described earlier in this chapter.

In [ ]:
max=0
min=0
div_by_3=0

for i in range(2):
    a=float(input("enter number: "))
    if a > max:
        max=a
    if a < min:
        min=a
    if a%3 == 0:
        div_by_3+=1
    continue
print("max is ",max,"\nmin is ",min,"\nsum div by 3 is ",div_by_3)

max is  3.0
min is  0
sum div by 3 is  1

**Exercise 7.5** The Fibonacci sequence is a sequence of numbers that starts with 1, followed by 1 again. Every next number is the sum of the two previous numbers. I.e., the sequence starts with 1, 1, 2, 3, 5, 8, 13, 21,... Write a program that calculates and prints the Fibonacci sequence until the numbers get higher than 1000.

In [ ]:
n1=0
n2=1
print(1, end=' ')
while True:
    n3=n1+n2
    if n3 > 1000:
        break
    print(n3, end=' ')
    n1=n2
    n2=n3

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

**Exercise 7.7** Write a program that approximates π by using random numbers, as follows. Consider a square measuring 1 by 1. If you throw a dart into that square in a random location, the probability that it will have a distance of 1 or less to the lower left corner is π/4. To see why that is, remember that the area of a circle with a radius of 1 is π, so the area of a quarter circle is π/4. Thus, if a dart lands in a random point in the square, the chance that it lands in the quarter circle with its centre at the lower left corner is π/4. Therefore, if you throw N darts into the square, and M of those land inside a distance of 1 to the lower left corner, then 4M/N approximates π if N is very large.
The program holds a constant that determines how many darts it will simulate. It prints an approximation of π derived by simulating the throwing of that number of darts. Remem- ber that the distance of a point (x, y) to the lower-left corner is calculated as sqrt(x2 + y2). Use the random() function from the random module.

In [ ]:
from random import random
import math
#pi = 3.14159
M=0
for i in range(1000000):
    rand=random()
    if rand < 3/4:
        M+=1
print(4*M/1000000)

3.001596

## FUNCTIONS

In [ ]:
from math import sqrt
def pythagoras( a, b ):
    if a > 0 and b > 0:
      return sqrt( a*a + b*b ) 
print( pythagoras( 3, 4 ) )
print( pythagoras( -3, 4 ) )

5.0
None

In [ ]:
from math import sqrt
def pythagoras( a, b ): 
    if a <= 0 or b <= 0:
        return
    return sqrt( a*a + b*b )
print( pythagoras( 3, 4 ) )
print( pythagoras( -3, 4 ) )

5.0
None

ANCHE SE NON SPECIFICATO, RETURN NONE!

**Exercise** Write a function called printx() that just prints the letter “x.” Then write a function called multiplex() which takes as argument an integer and prints as many times the letter “x” as the integer indicates by calling the function printx() that many times.

In [ ]:
def printx(x):
    print(x)
def multiplex(x):
    for i in range(x):
        printx(x)
    
multiplex(45)

45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45

**Exercise** Write the function isEven()

In [ ]:
def isEven(x):
    if x%2 == 0:
        print(x,"is even")
    else:
        print(x,"is odd")
        
isEven(5)

5 is odd

**Exercise** Write the function isOdd(), which determines whether a number is odd, by
calling the function isEven() and inverting its result.

In [ ]:
def isOdd(x):
    if isEven(x) == False:
        print(x,"is odd")

isOdd(6)

6 is even

**Exercise** Write the function getFraction()

In [ ]:
def getFraction(x):
    if isinstance(x, float):
        ris=(x-int(x))
        ris_rounded=round(ris,1)
        return ris_rounded
    else:
        print("0")
    
print(getFraction(5.6))

0.6


**Exercise 8.1** Create a function that gets a number as parameter, and then prints the multiplication table for that number from 1 to 10. E.g., when the parameter is 12, the first line printed is “1 * 12 = 12” and the last line printed is “10 * 12 = 120.”

In [ ]:
# function that show the moltiplication table fro 1 to 10 of the parameter x desired that has to be a float value
def table_moltiplication(x: float):
    for i in range(1,11):
        print(x,"*",i,"=",x*i)
        
print(table_moltiplication(23))

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230
None

**Exercise 8.3** The Grerory-Leibnitz series approximates pi as 4 ∗ (1/1 − 1/3 + 1/5 − 1/7 + 1/9...). Write a function that returns the approximation of pi according to this series. The function gets one parameter, namely an integer that indicates how many of the terms between the parentheses must be calculated.

In [ ]:
#FALLIMENTO
def gregoryLeibnitz( num ): 
    appr = 0
    for i in range( num ): 
        if i%2 == 0:
            appr += 1/(1 + i*2)
        else:
            appr -= 1/(1 + i*2)
    return 4* appr
    
print(gregoryLeibnitz( 1000000))

3.1415916535897743

## RECURSION

**exercise** build a funtion that returns the factorial of the parameter

In [ ]:
#2 ways:
#iterative

'''def factorial(n:int):
    
    factorial=1
    
    for i in range(n):
        factorial*= i+1
    
    return factorial

print(factorial(5))'''

#recursion

def factorial(n:int):
    
    if n<=1:
        return 1
    
    return n*factorial(n-1)

print(factorial(5))

120


**Exercise 9.1** A recursive definition of the nth number of the Fibonacci sequence fib(n) states that fib(n) is equal to fib(n-1) + fib(n-2). Moreover, fib(1) and fib(2) are both 1. Write a recursive function that you can call with an integer argument n that returns the nth number of the Fibonacci sequence.

In [ ]:
def fibonacci(n):
    if n<=2:
        return 1
    
    return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(10))

55

**Exercise 9.2** To get a bit more insight into how recursion works, add a depth parameter to your Fibonacci function from the previous exercise, that starts at zero and gets increased by 1 for every deeper call. On entry of the function, print with what number argument it was called, and when returning a value, print what you return. Use the depth parameter to indent the prints. Study your output.

In [ ]:
def fib( n, depth ):
        indent = 6 * depth * " "
        print( "{}fib({})".format( indent, n ) ) 
        if n <= 2:
            print( "{}return {}".format( indent, 1 ) )
            return 1
        value = fib( n-1, depth+1 ) + fib( n-2, depth+1 ) 
        print( "{}return {}".format( indent, value ) ) 
        return value

print( fib( 5, 0 ) )

fib(5)
      fib(4)
            fib(3)
                  fib(2)
                  return 1
                  fib(1)
                  return 1
            return 2
            fib(2)
            return 1
      return 3
      fib(3)
            fib(2)
            return 1
            fib(1)
            return 1
      return 2
return 5
5

## STRINGS

**Exercise** Write code that for a string prints the indices of all of its vowels (a, e, i, o, and u). This can be done with a for loop or a while loop, though the while loop is more suitable.

In [ ]:
string="abcdeiou"
vocali="aeiou"

i=0
while i < len(string):
    if string[i] in vocali:
        print("indice della vocale",string[i],"è",[i])
    i+=1

indice della vocale a è [0]
indice della vocale e è [4]
indice della vocale i è [5]
indice della vocale o è [6]
indice della vocale u è [7]

**Exercis** Write code that uses two strings. For each character in the first string that has exactly the same character at the same index in the second string, you print the character and the index. Watch out that you do not get an “index out of range” runtime error. Test it with the strings "The Holy Grail" and "Life of Brian".

In [ ]:
string1="The Holy Grail"
string2="Life of Brian"
minstring=min(len(string1), len(string2))

for i in range(minstring):
    if string1[i] == string2[i]:
        print("character is: ", string1[i], "- index is: ", [i])

character is:  o - index is:  [5]
character is:  a - index is:  [11]

In [ ]:
fruit = "banana" 
print( fruit[::2] ) 
print( fruit[1::2] ) 
print( fruit[::-1] ) 
print( fruit[::-2] )

bnn
aaa
ananab
aaa

In [ ]:
s = " And now for something completely different \n " 
print( "["+s+"]")
s = s.strip()
print( "["+s+"]" )

[ And now for something completely different
 ]
[And now for something completely different]

In [ ]:
s = "Humpty Dumpty sat on the wall" 
print( s.find( "sat" ) )
print( s.find( "t" ) )
print( s.find( "t", 12 ) )
print( s.find( "q" ) )

14
4
16
-1

-1 quando non viene trovata la lettera

In [ ]:
s = ' Humpty Dumpty sat on the wall ' 
wordlist = s.split()
for word in wordlist:
    print( word )

Humpty
Dumpty
sat
on
the
wall

In [ ]:
csv = "2016,September,28,Data Processing,Tilburg University" 
values = csv.split( ' , ' )
for value in values:
    print( value )

2016,September,28,Data Processing,Tilburg University

In [ ]:
s = "Humpty;Dumpty;sat;on;the;wall" 
wordlist = s.split( ' ; ' )
s = " ".join( wordlist )
print(s)

Humpty;Dumpty;sat;on;the;wall

## EXERCISES (EXAM SHEETS)

**Exercise 1.** Consider a list L of triplets (e, s, v) where e is a string with the name of a university course, s is a student-id, and v is the grade of the student who passed the exam of the course. Write a Python function summary(L) that returns a dictionary mapping:
● the pair (“avg”, e) to the average of grades for course e
● the pair (“top”, e) to the list of students that passed exam e with top score.
For example:
summary([(‘pds’, 1, 28), (‘pds’, 2, 25), (‘pds’, 3, 28), (‘dm’, 1, 22), (‘dm’, 3, 30)]) = { (‘avg’, ‘pds’): 27, (‘avg’, ‘dm’):26, (‘top’,’pds’)=[1,3], (‘top’, ‘dm’)=[3]}

In [24]:

#definizione funzione summary() e inizializzazione di 2 dizionari vuoti per contenere la media e il miglior studente
def summary(L):
    averages = {}
    top_students = {}
    
    for course, student_id, grade in L:
        #creazione di 2 chiavi che si aggiornano alla lettura di L per il calcolo finale della media di ogni singolo corso
        if ("avg", course) not in averages:
            averages[("avg", course)] = {"sum":0, "count":0}
        averages[("avg", course)]["sum"] += grade
        averages[("avg", course)]["count"] += 1
            
        #creazione di 2 chiavi che si aggiornano alla lettura di L per l'individuazione dello studente con voto più alto
        if ("top", course) not in top_students:
            top_students[("top", course)] = {"maxgrade":float("-inf"), "students":[]}
            
        if grade > top_students[("top", course)]["maxgrade"]:
            top_students[("top", course)]["maxgrade"] = grade
            top_students[("top", course)]["students"] = [student_id]
        elif grade == top_students[("top", course)]["maxgrade"]:
            top_students[("top", course)]["students"].append(student_id)
                
    #calcolo della media
    for key in averages:
        averages[key]["avg"] = averages[key]["sum"] / averages[key]["count"]
        
    #result
    result = {}
    for key in averages:
        result[key] = averages[key]["avg"]
        
    for key in top_students:
        result[key] = top_students[key]["students"]
    
    return result
        
    
L = [("pds", 1, 28), ("pds", 2, 25), ("pds", 3, 28), ("dm", 1, 22), ("dm", 3, 30)]
print(summary(L))

{('avg', 'pds'): 27.0, ('avg', 'dm'): 26.0, ('top', 'pds'): [1, 3], ('top', 'dm'): [3]}

In [27]:
#DA SOLO!!!

def summary(L):
    averages = {}
    topstudents = {}
    
    for course, student_id, grade in L:
        if ("avg", course) not in averages:
            averages[("avg", course)] = {"sum":0, "count":0}
        averages[("avg", course)]["sum"] += grade
        averages[("avg", course)]["count"] += 1
        
        if ("top", course) not in topstudents:
            topstudents[("top", course)] = {"maxgrade":float("-inf"), "students":[]}
            
        if grade > topstudents[("top", course)]["maxgrade"]:
            topstudents[("top", course)]["maxgrade"] = grade
            topstudents[("top", course)]["students"] = [student_id]
        elif grade == topstudents[("top", course)]["maxgrade"]:
            topstudents[("top", course)]["students"].append(student_id)
            
    for course in averages:
        averages[course]["avg"] = averages[course]["sum"] / averages[course]["count"]
        
    result = {}
    
    for course in averages:
        result[course] = averages[course]["avg"]
        
    for course in topstudents:
        result[course] = topstudents[course]["students"]
        
    return result

L = [("pds", 1, 28), ("pds", 2, 25), ("pds", 3, 28), ("dm", 1, 22), ("dm", 3, 30)]
print(summary(L))

{('avg', 'pds'): 27.0, ('avg', 'dm'): 26.0, ('top', 'pds'): [1, 3], ('top', 'dm'): [3]}

In [55]:
n = int(input("enter the number of rows for the pascal's triangle: "))
def PascalT(n:int):
    res = [[1]]
    
    for i in range(n - 1):
        temp = [0] + res[-1] + [0]
        row=[]
        for j in range(len(res [-1]) +1):
            row.append(temp[j] + temp[j+1])
        res.append(row)
    return res 

for row in PascalT(n):
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

**Exercise** Define a Python function orderAlt(l) that takes as input a list l1 of integers, and return as output a new list l2 such that: i) the first portion of l2 contains the even numbers of l1, in ascending order; ii) the second portion of l2 contains the odd numbers of l1, in descending order. Test your function on an input list.

Bonus: the user inputs the list l1 from the terminal (use -1 as termination character of the endless insertion loop).

Example l1: [2,5,7,8,3,4] → l2: [2,4,8,7,5,3]

In [69]:
def OrderAlt(l1:list):
    l3 = []
    l4 = []
    for i in range(len(l1)):
        if l1[i]%2 == 0:
            l3.append(l1[i])
            l3.sort()
        elif l1[i]%2 != 0:
            l4.append(l1[i])
            l4.sort(reverse=True)
    l2 = l3 +l4
    return l2

l1 = [2,5,7,8,3,4]
print (OrderAlt(l1))

[2, 4, 8, 7, 5, 3]

**Exercise** The built-in zip function "zips" two lists. Define a function named zap with your own implementation of this function.

The function takes two lists as input, a and b, and returns a list of tuples. Each tuple should contain one item x from the a list and one item y from b, with x and y being in the same position in their list. You may assume a and b have equal lengths.

Test your function on two input lists.

Example: zap([0, 1, 2, 3], [5, 6, 7, 8] ) Should return: [(0, 5), (1, 6), (2, 7), (3, 8)]

In [80]:
def zap(a, b):
    lista=[]
    for i in range(len(a)):
        lista.append((a[i], b[i]))
    return lista

a=[0,1,2,3]
b=[5,6,7,8]
print(zap(a, b))

[(0, 5), (1, 6), (2, 7), (3, 8)]

**Exercise 1.** Consider a list L of triplets (e, s, v) where e is a string with the name of a university course, s is a student-id, and v is the grade of the student who passed the exam of the course. Write a Python function summary(L) that returns a dictionary mapping:

● the pair (“avg”, e) to the average of grades for course e ● the pair (“top”, e) to the list of students that passed exam e with top score

For example: summary([(‘pds’, 1, 28), (‘pds’, 2, 25), (‘pds’, 3, 28), (‘dm’, 1, 22), (‘dm’, 3, 30)]) = { (‘avg’, ‘pds’): 27, (‘avg’, ‘dm’):26, (‘top’,’pds’)=[1,3], (‘top’, ‘dm’)=[3]}

In [97]:
def summary (L):
    averages = {}
    topstudents = {}

    for course, student_id, grade in L:
        if ("avg", course) not in averages:
            averages[("avg", course)] = {"sum":0, "count":0}
        averages[("avg", course)]["sum"] += grade
        averages[("avg", course)]["count"] += 1
        
        if ("top", course) not in topstudents:
            topstudents[("top", course)] = {"topgrade":float("-inf"), "students": []}
            
        if grade > topstudents[("top", course)]["topgrade"]:
            topstudents[("top", course)]["topgrade"] = grade
            topstudents[("top", course)]["students"] = [student_id]
        elif grade == topstudents[("top", course)]["topgrade"]:
            topstudents[("top", course)]["students"].append(student_id) 
                
                
    for course in averages:
        averages[course]["avg"] = averages[course]["sum"] / averages[course]["count"]
        
    result = {}
    for course in averages:
        result[course] = averages[course]["avg"]
    
    for course in topstudents:
        result[course] = topstudents[course]["students"]
        
    return result
    
L = [("pds", 1, 28), ("pds", 2, 25), ("pds", 3, 28), ("dm", 1, 22), ("dm", 3, 30)]
print(summary(L))

{('avg', 'pds'): 27.0, ('avg', 'dm'): 26.0, ('top', 'pds'): [1, 3], ('top', 'dm'): [3]}

**Exercise 1.** Create a Python program that analyses the frequency of words in a text file and stores the results in a dictionary.

The program should also allow the user to perform several operations such as displaying the frequency of a specific word, sorting the frequency of words in ascending or descending order, and finding the top N most frequent words.

The path to the file should be taken from the command line argument
Read the text file and split the text into lowercase words (clean the text by removing punctuation and converting it to lowercase)
Create a dictionary to store the frequency of each word. The key is the word and the value is itsfrequency.
Implement the following functions: ● frequency_of_word(word): displays the frequency of a specific word ● sort_frequency(order='ascending'): sorts the frequency of words in ascending or descending order ● top_N_frequent(N): displays the top N most frequent words
Bonus: ● The program should also handle large text files efficiently. ● Remove Stop Words: Implement a function that removes common words such as "the", "a", "an", "and" from the frequency analysis. These words are known as stop words and do not add much value to the analysis.

In [ ]:
from collections import Counter

**Exercise 2.** Define a Python program that calculates the average score of an arbitrary number of test scores, with each test score being a positive integer between 0 and 100.

The program shall repeatedly ask the user to enter a score or a stop char
The program shall then validate the input, making sure that each test score is between 0 and 100. If a test score is not valid, the program should print an error message and ignore that test score when calculating the average.
Once the average score has been calculated, the program should assign a letter grade to the average based on the following scale: ● 90-100: A ● 80-89: B ● 70-79: C ● 60-69: D ● 0-59: F
The program should then print the average score and the letter grade.

In [110]:
list = []

while True:
    score = int(input("enter a score from 0 to 100:  - q to quit"))
    if score == 00:
        break
    if 0 <= score <= 100:
        list.append(score)
    else:
        print("error")

count = 0
sum = 0
for i in range(len(list)):
    count += 1
    sum += list[i]
    
average = sum / count

if 90 <= average <= 100:
    print(average, "A")
elif 80 <= average <= 89:
    print(average, "B")
elif 70 <= average <= 79:
    print(average, "C")
elif 60 <= average <= 69:
    print(average, "D")
elif 0 <= average <= 59:
    print(average, "F")

95.0 A

## DICTIONARIES

In [19]:
fruitbasket = { "apple":3, "banana":5, "cherry":50 }
for key in fruitbasket:
    print( "{}:{}".format( key, fruitbasket[key] ))

apple:3
banana:5
cherry:50

In [1]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger= countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

In [2]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

dict_keys(['spain', 'france', 'germany', 'norway'])
oslo

In [4]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo', 'australia':'vienna' }

# Add italy to europe
europe['italy']='rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland']='warsaw'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

True
{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [5]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data={'capital': 'rome', 'population': 59.83}

# Add data to europe under key 'italy'
europe['italy']=data

# Print europe
print(europe)

paris
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

## OBJECT ORIENTED PROGRAMMING

**Exercise** Create a list of all the points with integer coordinates, with both their x and y coordinates ranging from 0 to 3.

In [114]:
points = [(x, y) for x in range(4) for y in range(4)]
print(points)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3), (3, 0), (3, 1), (3, 2), (3, 3)]

In [115]:
class Point:
    def __init__( self, x=0.0, y=0.0 ):
        self.x = x 
        self.y = y
p = Point( 3.5, 5.0 ) 
print( p )

<__main__.Point object at 0x7fe544b22a10>

In [118]:
class Point:
    def __init__( self, x=0.0, y=0.0 ):
        self.x = x
        self.y = y
    def __repr__( self ):
        return "({}, {})".format( self.x, self.y ) 

p = Point( 3.5, 5.0 )
print( p )

(3.5, 5.0)

**Exercise 20.2** A student has a last name, a first name, a date of birth (either a year, month, and day, or a datetime object if you took the liberty of studying the datetime module already), and an administration number. A course has a name and a number. Students can enroll in courses. Create a class Student and a class Course. Create several students and several courses. Enroll each student in some of the courses. Display a list of students, showing their number, first name, last name, and age, and per student which courses he or she is enrolled in.

In [183]:
from random import random

class Course():
    def __init__(self, name, number):
        self.name = name
        self.number = number
    def __repr__( self ):
        return "{}: {}".format( self.number, self.name )

class Student():
    def __init__(self, last_name, first_name, date_of_birth, adm_number):
        self.last_name = last_name
        self.first_name = first_name
        self.date_of_birth = date_of_birth
        self.adm_number = adm_number
        self.courses = []
    def __repr__(self):
        return("{}, {}, {}, {}".format(self.last_name, self.first_name, self.date_of_birth, self.adm_number))    
    def __enroll__(self, course):
        if course not in courses:
            self.courses.append(course)
    
students = [
    Student("uno", "a", 11, "099"),
    Student("due", "b", 10, "088"),
    Student("tre", "c", 9, "077")]

courses= [
    Course("storia", "5"), 
    Course("latino", "10")]

for student in students: 
    for course in courses:
        if random() > 0.3:
            student.__enroll__(course)

for student in students:
    print("{}: {} {} ({})".format(student.adm_number, student.last_name, student.first_name, student.date_of_birth))
    if len(student.courses) == 0:
        print("No courses")
    for course in student.courses:
        print("{}".format(course))

099: uno a (11)
No courses
088: due b (10)
No courses
077: tre c (9)
No courses